body {
}

div.questionbox table {

                font-family: verdana,arial,sans-serif;

                font-size:20px;

                color: #333333;

                border-width:5px;

                border-color:#999999;

                border-collapse: collapse;

                background: blue;

}