body {
    font-family: Arial, sans-serif;
    background-color: #253648;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1100px;
    margin: 0 auto 0 auto;
    padding: 0 25px;
}

div.header{
    background-color: #3b7895;
    padding: 10px 0 10px 0;
    height: 100px;
    background-image: url(images/header1.png);
}

div.header h1{
    font-size: 38px;
    color: white;
    position: relative;
    top: 15px;
}

div.nav{
    background-color: #3b7895;
}
div.nav ul{
    margin: 0;
    padding: 0;
}
div.nav ul li{
    list-style: none;
    float: left;
}

div.nav ul li a:link, div.nav ul li a:visited{
    padding: 7px 30px 7px 30px;
    display: block;
    text-decoration: none;
    color: white;
    border-right: 1px solid #000;
}

div.nav ul li a:hover, div.nav ul li a:visited{
    background-color: #eb9b00;
}

div.questionbox{
    max-width: 70%;
    margin: 5% 3% 5% 3%;
    background-color:white;
}

table.tbl td
 { 
 font-family: Verdana;
 color: #404040;
 }



div.questionbox table.tbl  tr.question{
    background-color: #eb9b00;
    height:35px;
    font-weight: bold;
    color:aquamarine;
    font-size:14px;
}
div.questionbox table.tbl  tr.answers{
    
    background-color: #fafafa;
    height: 30px;
    font-size: 14px;
}
div.questionbox table.tbl  tr.empty{
    height: 20px;
}

div.questionbox table.tbl  tb.questionCell{
    padding:20px 20px 0 0;
    background-color:aquamarine;
}



